{{> post-info post}}

{{post.post_content}}
<br>
<br>

{{!-- {{#if loggedIn}} --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="login-redirect" type="submit">add comment</button>
  </div>
</form>
{{!-- {{/if}} --}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{else}}
<script src="/javascript/login-redirect.js"></script>
{{/if}}